body {
  text-align: center;
}
h1 {
  font-family: 'Archivo', sans-serif;
  font-size: 4rem;
  color: #66BFBF;
  margin: 200px auto 0;
}
h2 {
  font-family: 'Varela Round', sans-serif;
  font-size:2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3 {
  color: #11999e;
  font-family: 'Varela Round', sans-serif;
}
p {
  font-size: 1.1rem;
  font-family: sans-serif;
}
hr {
  border-style: none;
  border-top: 10px dotted #EAF6F6;
  width: 15%;
}
.top-container {
  background-color: #e4f9f5;
  padding-top: 50px;
}
.top-container h2 {
  margin-bottom: 0;
  margin-top: 10px;
}
.top-cloud {
  position: absolute;
  top: 40px;
  left: 950px;
}
.bottom-cloud {
  position: absolute;
  left: 350px;
}
.profilepic {
  position: absolute;
  float: left;
  left: 677px;
  top: 70px;
}
.skill-row {
  width: 50%;
  margin: 50px auto 100px;
  text-align: left;
  line-height: 2;
}
.web-dev {
  width: 25%;
  height: 25%;
  float: left;
  margin-right: 30px;
}
.compp {
  width: 25%;
  height: 25%;
  float: right;
  margin-left:  30px;
}
.contact-me p {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.bottom-container {
  padding: 50px;
  background-color: #66bfbf;
}

.bottom-container a {
  color: #11999e;
  padding: 10px;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
}
.bottom-container a:hover {
  color: white;
}
.bottom-container p {
  color: #eaeaf6;
  font-weight: bold;
}
.BUTTON_PRO {
   background: #3D94F6;
   background-color: #11999e;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: 'Varela Round', sans-serif;;
   font-size: 1.2rem;
   font-weight: 100;
   padding: 10px 20px;
   margin-top: 30px;
   margin-bottom: 70px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_PRO:hover {
   background: #1E62D0;
   text-decoration: none;
}
